In [1]:
import os
import boto3
import numpy as np
import pandas as pd
from io import StringIO, BytesIO

In [3]:
def s3_put_csv(bucket_name, key, data):
    csv_buffer = StringIO()
    data.to_csv(csv_buffer)
    s3 = boto3.resource('s3')
    s3.Object(bucket_name, key).put(Body=csv_buffer.getvalue())
    
def s3_delete(bucket_name, key):
    s3 = boto3.resource('s3')
    bucket = s3.Bucket(bucket_name)
    bucket.objects.filter(Prefix = key).delete()
    
def s3_read_csv(bucket_name, key):
    s3 = boto3.resource('s3')
    obj = s3.Object(bucket_name, key)
    body = obj.get()['Body'].read()
    result = pd.read_csv(BytesIO(body))
    return(result)

In [21]:
N = 1000
data = pd.DataFrame({'v0': np.random.binomial(10, 0.5, N),
                     'v1': np.random.normal(0, 1, N)})
data.head()

   v0        v1
0   8 -0.056409
1   6  0.136952
2   3 -0.240291
3   3  0.297149
4   2  1.767086

In [22]:
s3_put_csv('pyspark-performance', 'data.csv', data)

In [24]:
s3_read_csv('pyspark-performance', 'data.csv')

     Unnamed: 0  v0        v1
0             0   8 -0.056409
1             1   6  0.136952
2             2   3 -0.240291
3             3   3  0.297149
4             4   2  1.767086
..          ...  ..       ...
995         995   5  1.403732
996         996   2 -0.233081
997         997   4 -1.255640
998         998   6  1.231245
999         999   6 -0.986120

[1000 rows x 3 columns]